.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}

body {
    background-color: black;
    
}

.folders {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px:


}
.folders img {
    padding: 10px;
    padding-top: 10px;
    height: 500px;
    width: 500px;
    border-radius: 15px;
}

.folders img:hover {
    transform: scale(1.1);
    transition: 300ms ease ;
    box-shadow: 4px 4px 15px 5px #fff;
    cursor: pointer;
}
