.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}

body {
    background-color: black;
    
}

.folders {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


}
.folders img {
    margin: 40px;
    height: 500px;
    width: 550px;
    border-radius: 15px;
}

.folders img:hover {
    transform: scale(1.1);
    transition: 300ms ease ;
    box-shadow: 4px 4px 15px 5px #fff;
    cursor: pointer;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    border: solid 2px blue;
    color: blue;
    height: 45px;
    width: 185px;
}

.button: hover {
    color: white;
    border: none;
    background-color: blue;
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms ease
}
